.main-heading{
  background-color: rgb(231, 215, 215);
  width: 15%;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  
 
}

.main-heading:hover{
   box-shadow: 10px 10px 20px rgb(116, 109, 109);
    
   /* box-shadow: x axis y axis blur color ; */
}
.moblie-style{
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
.addtocart{
  background-color: rgb(146, 118, 25);
  border: none;
  padding: 8px;
  margin-right: 15px;
  border-radius: 10px;
}
.buynow{
   background-color: rgb(25, 27, 146);
   color: #fff;
  border: none;
  padding: 8px;
  margin-right: 15px;
  border-radius: 10px;
}
.buynow:hover{
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
} 

.main-box{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  height: 70vh;
  width: 70vw;
  gap: 20px;
}
.button-items{
  display: flex;
  justify-content: end;
}